body {
	text-align: center;
	background: url("https://i.imgur.com/rpgr5jo.jpg") no-repeat center center fixed;
	background-size: cover;
	background-position: center;
	color: white;
	font-family: Caflisch Script Pro, cursive;
}